body{
    width: 90vw;
    margin: 0 auto;
}

.container-fluid {
    background-color: white;

}

.navbar-brand {
    position: relative;
    margin-left: 100px;
    height: auto;
    width: 200px;
    padding: 0px 0px 0px 20px;
}

.input-group {
    margin-left: 200px;
    margin-top: 15px;
    font-style: italic;
    /*margin-right: 10px;*/
    /*border: 1px solid black;*/
}

.chefInput, .locationInput, .foodInput {
    display: inline-block;
    width: 200px;
    height: 40px;
    padding: 5px;
}

.jumbotron {
    background-color: white;
    margin-top: 5%;
    margin-left: 10%;
    padding: 0;
    display: inline-block;
}

.jumbotron h2 {
    color: #c8d842;
}

#map {
    width: 100%;
    height: 40vh;
    margin-right: 10%;
    display: inline-block;
}

#mapTwo{
    width: 40vw;
    height: 40vh;
}

.results_heading {
    display: inline-block;
}

.results_heading h5 {
    float: right;
    clear: both;
}

.results_heading h4 {
    /*float: left;*/
    display: inline-block;
    clear: both;
    padding: 0;
    margin: 4vmin;
}


#food_listing {
    padding: 0 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 30vh;
    /*border: 1px solid black;*/
}

.food_item {
    /*border: 1px solid #ECECEC;*/
    display: inline-block;
}

.food_caption {
    text-align: center;
}

.food_name {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

.food_cost {
    color: #6F7279;
    font-size: small;
}

img {
    height: 175px;
    width: 275px;
    margin: 20px 0 5px 0;
    padding: 5px;
}
/*Added from checkout css*/
.row {
    padding: 0;
    /*border: solid 1px #ECECEC;*/
}

#checkout {
    margin-top: 50px;
    width:75%;
}

#checkout > h3 {
    border-bottom: 1px solid #c8d842;
    padding-bottom:  10px;
    margin-bottom: 50px;
}

#orderBy_container, #orderOf_container, #pickupInfo_container {
    margin-right: 50px;
}

#orderBy_container {
    padding: 25px;
    margin-right: 50px;
    /*background-color: #ECECEC;*/
    border: 1px solid #ECECEC;
}

#orderBy_container > h4 {
    margin-bottom: 25px;
}

#orderOf_container {
    padding: 25px;
    margin-right: 50px;
    border: 1px solid #ECECEC;
}

#orderOf_container > h5 {
    font-family: 'Josefin Sans', sans-serif;
}

#orderOf_container > img {
    margin: 10px;
    padding: 0;
}

#pickupInfo_container {
    padding: 25px;
    /*background-color: #ECECEC;*/
    border: 1px solid #ECECEC;
}

.checkout_buttons {
    float: right;
    margin-right: 18%;
    margin-top: 5%;
    color: black;
}

#mealName {
    text-transform: capitalize;

}

/*.modal-body {*/
    /*width: 950px;*/
/*}*/

.modal-header > img {
    height: auto;
    width: 200px;
    text-align: center;
}

.modal-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 125%;
    font-weight: 900;
}

/*.theChefBox{*/
    /*height: 50vh;*/
/*}*/

.jumbotron h1, .jumbotron h3{
    color: #878989;
    text-align: center;
}

.modal-content {
    border-radius: 0;
}

.modal-header {
    border-bottom-color: #c8d842;
}

.nav-tabs {
    width: 60vw;
    z-index: 99999;
}
.nav-tabs li{
    width: 25%;
}
#chefProfilePics{
    height: 50vh;
    width: 100%;
    background-size: contain;
}
#chefCarousel{
    height: 50vh;
    width: 60vw;
    background-size: contain;
}
.carousel-inner div{
    height: 50vh;
    width: 60vw;
    background-size: contain;
}
.carousel-inner img{
    height: 50vh;
    width: 60vw;
    margin: 0;
    padding: 0;
    background-size: contain;
}
#chefProfileChef, #chefProfileLocation, #chefProfileMenu, #chefProfileReview{
    width: 60vw;
}

.results_heading {
    text-align: justify;
}

.previous a, .next a{
    color: black;
}

span.glyphicon-circle-arrow-left{
    font-size: 3.5em;
}

.buyButton{
    background-color: black;
    color: white;
}

th{
    width: 25%;
    text-align: center;
}

td{
    text-align: center;
}

th .glyphicon{
    font-size: 2em;
}



