<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^public/.*$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . http://localhost/C4.17_food_on_demand/public/index.html [P,L]
</IfModule>