


/* Chef 1 - Chef Images */

#chef_chef_01 {
    background : url(img/4779268741_b10d6984b0_q.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}



/* Chef 1 - Food Images */

#chef_food_46 {
    background : url(img/46meGJ5Cv.png) no-repeat;
    background-position: center center;
    background-size: cover;
}

#chef_food_47 {
    background : url(img/47maxresdefault-2.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#chef_food_48 {
    background : url(img/48ftQClWq.png) no-repeat;
    background-position: center center;
    background-size: cover;
}

#chef_food_49 {
    background : url(img/49dl6edHb.png) no-repeat;
    background-position: center center;
    background-size: cover;
}

#chef_food_50 {
    background : url(img/50_1e99aa237a74e376e8dfcecf392612fa.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

/* Chef 2 - Food Images */


#chef_food_21 {
    background : url(img/21Ak3G2OXFSZmMl7Ck5yig_tamales-sauce-5316.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#chef_food_22 {
    background : url(img/22_0149359_Making-Taco_s4x3.jpg.rend.hgtvcom.616.462.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}




