/*Cooking Food Images*/

#cooking_food_01 {
    background : url(img/01eggslut-breakfast-sandwich3.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_02 {
    background : url(img/02Southern-Sheet-Pan-nachos-3.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_03 {
    background : url(img/03maxresdefault.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_04 {
    background : url(img/04ChiangKhan17-JAN-Bangkok18-JAN071.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_05 {
    background : url(img/05Cornbread-Bibingka-4.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_06 {
    background : url(img/06_147292401.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_07 {
    background : url(img/07_80a321aef381df758c22d50b700beedf.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_08 {
    background : url(img/08c2c4b0483154c1edab8b3375fe18c4bc5327ba54.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_09 {
    background : url(img/09recipe-image-legacy-id--15261_12.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_10 {
    background : url(img/10FNM_110111-WN-Dinners-001_s4x3.jpg.rend.hgtvcom.616.462.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_11 {
    background : url(img/11croak-madame-feature-1050x700.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_12 {
    background : url(img/12_6360205369412502511006069810_continental-breakfast.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_13 {
    background : url(img/13Korea-Seoul-Insadong-Sanchon-02.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_14 {
    background : url(img/14_2011-ft-cocktail-food-shepherds-pie_1.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_15 {
    background : url(img/15Roasted-Fig-Arugula-and-Goat-Cheese-Salad-with-Honey-Balsamic-Vinaigrette_-e1438364357883.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_16 {
    background : url(img/16Orange-Chicken-sm-2_edited1.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_17 {
    background : url(img/17Hawaiian-BBQ-Skewers-on-the-grill.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_18 {
    background : url(img/18_57641a423459cd4567301dd8.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_19 {
    background : url(img/19greek-salad.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_20 {
    background : url(img/20CC_Corn-Dogs_s4x3.jpg.rend.hgtvcom.616.462.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

/* 21-22 */

#cooking_food_21 {
    background : url(img/21Ak3G2OXFSZmMl7Ck5yig_tamales-sauce-5316.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_22 {
    background : url(img/22_0149359_Making-Taco_s4x3.jpg.rend.hgtvcom.616.462.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}


/* 24-45 */

#cooking_food_24 {
    background : url(img/24_Cajun-Beef-and-Bean-Burritos-960x765.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_25 {
    background : url(img/25_carna-asada-torta-sandwich-recipe.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_26 {
    background : url(img/26_o-TACOS-AL-PASTOR-facebook.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_27 {
    background : url(img/27_Veggie-Platter.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_28 {
    background : url(img/28_Eric_ripert_resized.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_29 {
    background : url(img/29_dsc_1828-1.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_30 {
    background : url(img/30_alinea-770px.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_31 {
    background : url(img/31_Crispy-Slow-Cooker-Corned-Beef-5-680x439.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_32 {
    background : url(img/32_gallery-1457716404-delish-corned-beef-sliders-index.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_33 {
    background : url(img/33_roasted-garlic-mashed-red-potatoes.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_34 {
    background : url(img/34_20161017-pressure-cooker-American-beef-stew-13-thumb-1500xauto-434740.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_35 {
    background : url(img/35_Dublin-coddle-1400x919-28d32c00-6598-4213-9f65-63cb2140223a-0-1400x919.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_36 {
    background : url(img/36_dsc_52091.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_37 {
    background : url(img/37_51179600_kung-pao-chicken_1x1.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_38 {
    background : url(img/38_dsc_00072.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_39 {
    background : url(img/39_5751a58ab0a00.image.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_40 {
    background : url(img/40_Classic-Chinese-Chow-Mein-5.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_41 {
    background : url(img/41_maxresdefault-1.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_42 {
    background : url(img/42_Yakisoba-front.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_43 {
    background : url(img/43e2cb6aa777d7448e95f6991bf0c8f945.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_44 {
    background : url(img/44Tempura-Udon-3-Getty-56a541515f9b58b7d0dbec5e.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_45 {
    background : url(img/45ramen_612.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}


/* 46-50 */

#cooking_food_46 {
    background : url(img/46meGJ5Cv.png) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_47 {
    background : url(img/47maxresdefault-2.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_48 {
    background : url(img/48ftQClWq.png) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_49 {
    background : url(img/49dl6edHb.png) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_50 {
    background : url(img/50_1e99aa237a74e376e8dfcecf392612fa.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

/* Cuisine selected */

#cooking_food_51 {
    background : url(img/51S50wo7B.png) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_52 {
    background : url(img/52_5011976167_67dca8f8c1_b.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_53 {
    background : url(img/53_nnjlwgA.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_54 {
    background : url(img/54_OATPIez.png) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_55 {
    background : url(img/55_OtBp067.png) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_56 {
    background : url(img/56_bread-falling-1024x682.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_57 {
    background : url(img/57_362249_gluten-free-pasta_1x1.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_58 {
    background : url(img/58_gluten-free-pasta-470624.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_59 {
    background : url(img/59_gluten-free-pizza-crust-recipe1600-x-1067-255-kb-jpeg-x.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}


/* 60-65 */

#cooking_food_60 {
    background : url(img/60_scarecrow-crunch-glutenfree-snacks.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_61 {
    background : url(img/61_Mixed-Bean-and-Pea-Garden-Burger-1200x750.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_62 {
    background : url(img/62_chickencurrywafflessm.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_63 {
    background : url(img/63_8550565333_7bcbf7d39b.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_64 {
    background : url(img/64_IMG_3480.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

#cooking_food_65 {
    background : url(img/65_Gluten-Free-Asian-Glaze-Pork-Roast1.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}