body{
    width: 90vw;
    margin: 0 auto;
}

.container-fluid {
    /*background-color: #3c3c3c;*/

}

.navbar-brand {
    position: relative;
    /*border: 1px solid black;*/
    margin-left: 100px;
    /*margin-bottom: 20px;*/
    height: auto;
    width: 200px;
    padding: 0px 0px 0px 20px;

}

.input-group {
    margin-left: 200px;
    margin-top: 15px;
    font-style: italic;
    /*margin-right: 10px;*/
    /*border: 1px solid black;*/
}

.chefInput, .locationInput, .foodInput {
    margin-left: 20px;
    width: 200px;
    height: 40px;
    padding: 5px;
}

.jumbotron {
    /*background-image: url("images/home_cooking.png");*/
    background-color: white;
    margin-top: 70px;
    margin-left: 100px;
    padding: 0;
}

.jumbotron h2 {
    color: #c8d842;
    /*color: #df4e10;*/

}
.jumbotron img {
    opacity: 0.5;

}

#map{
    width: 40vw;
    height: 40vh;
    /*margin-left: 100px;*/
    /*margin-top: 60px;*/
    float: right;
    margin-right: 100px;
    margin-top: 70px;
}
#mapTwo{
    width: 40vw;
    height: 40vh;
}

.results_heading {
    display: inline-block;
    /*border: 1px solid red;*/
}

.results_heading h5 {
    float: right;
    display: inline;
    clear: both;
}

.results_heading h4 {
    float: left;
    display: inline;
    clear: both;

    padding: 0;
    margin: 4vmin;
}


#food_listing {
    width: 90vw;
    padding: 0 5px;
    overflow: auto;
    white-space: nowrap;
    /*border: 1px solid black;*/

}

.food_item {
    /*border: 1px solid #ECECEC;*/
    display: inline-block;
}

.food_caption {
    text-align: center;
}

.food_name {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

.food_cost {
    color: #6F7279;
    font-size: small;
}

img {
    height: 175px;
    width: 275px;
    margin: 20px 0 5px 0;
    padding: 5px;
}
/*Added from checkout css*/
.row {
    padding: 0;
    border: solid 1px #000000;
}

#orderBy_container {
    padding: 25px;
    background-color: #ffffff;
}

#orderOf_container {
    padding: 25px;
    background-color: #fffed6;
}

#mealName {
    text-transform: capitalize;

}

.modal-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 125%;
    font-weight: 900;
}

.theChefBox{
    height: 50vh;
}
.jumbotron h1, .jumbotron h3{
    color: #878989;
    text-align: center;
}

.modal-content {
    border-radius: 0;
}

.modal-header {
    border-bottom-color: #c8d842;
}
.nav-tabs {
    width: 50%;
    z-index: 99999;
}
.nav-tabs li{
    width: 25%;
}
#chefProfilePics{
    height: 50vh;
    width: 100%;
    background-size: contain;
}
#chefCarousel{
    height: 50vh;
    width: 100%;
    background-size: contain;
}
.carousel-inner div{
    height: 50vh;
    width: 100%;
    background-size: contain;
}
.carousel-inner img{
    height: 50vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-size: contain;
}
#chefProfileChef, #chefProfileLocation, #chefProfileMenu, #chefProfileReview{
    width: 60vw;
    /*margin: 0 auto;*/
}

.results_heading {
    text-align: justify;
}

.previous a, .next a{
    color: black;
}

c8d842
