body{
    width: 90vw;
    margin: 0 auto;
}

.navbar-brand {
    /*border: 1px solid black;*/
    /*margin-left: 100px;*/
    margin-bottom: 20px;
    height: auto;
    width: 200px;
    padding: 0;
}

.input-group {
    margin-left: 200px;
    margin-top: 15px;
    font-style: italic;
    /*margin-right: 10px;*/
    /*border: 1px solid black;*/
}

.chefInput, .locationInput, .foodInput {
    margin-left: 20px;
    width: 200px;
    height: 40px;
    padding: 5px;
}

#map{
    width: 50vw;
    height: 50vh;
}

#mapTwo{
    width: 50vw;
    height: 50vh;
}

.chef_card {
    width: 200vw;
    height: 200vh;
    border: 1px solid black;
}

.results_heading {
    padding: 0;
    margin: 4vmin;
}


#food_listing {
    width: 90vw;
    padding: 0 5px;
    overflow: auto;
    white-space: nowrap;
}
.food_item {
    border: 1px solid #ECECEC;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    font-size: large;
    border-radius: 3px;
}
.food_caption {
    text-align: right;
}
.food_name {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 125%;
    font-weight: 900;
    text-align: center;
}
.food_cost {
    color: #6F7279;
    font-size: small;
}

img{
    height: 200px;
    width: 300px;
    margin: 20px 0 5px 0;
    padding: 5px;
}
/*Added from checkout css*/
.row {
    padding: 0;
    border: solid 1px #000000;
}

#orderBy_container {
    padding: 25px;
    background-color: #ffffff;
}

#orderOf_container {
    padding: 25px;
    background-color: #fffed6;
}

#mealName {
    text-transform: capitalize;
}


.modal-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 125%;
    font-weight: 900;
}
.theChefBox{
    height: 50vh;
}
.jumbotron h1, .jumbotron h3{
    color: #878989;
    text-align: center;
}
.nav-tabs {
    width: 100%;
    z-index: 99999;
}
.nav-tabs li{
    width: 15%;
}
#chefProfilePics{
    height: 300px;
    width: 100%;
    background-size: contain;
}
#chefCarousel{
    height: 300px;
    width: 100%;
    background-size: contain;
}
.carousel-inner div{
    height: 300px;
    width: 100%;
    background-size: contain;
}
.carousel-inner img{
    height: 300px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-size: contain;
}
#chefProfileChef, #chefProfileLocation, #chefProfileMenu, #chefProfileReview{
    width: 55vw;
}

/*#878989*/




